.input__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.input__box {
  display: flex;
  align-items: center;
  border: 1px solid #ffff;
  border-radius: 8px;
  padding: 0 1rem;
  margin: 0.5rem 0;
}

.input__feild {
  background-color: #030303;
  color: #ffffff;
  border: none;
  padding: 1rem 0;
  width: 100%;
  font-size: 1rem;
}

.input__feild:focus {
  outline: none;
}

.fa-eye {
  cursor: pointer;
}

::placeholder {
  color: #ffffff;
}

.signup__link {
  padding-top: 1rem;
  cursor: pointer;
}

.login__container {
  width: 100%;
  display: flex;
  justify-content: center;
}
